export ENV='development'

# export DEBUG=1
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_INVENTORY=inventory.yaml
export ORACLE_PEAK_HOME=`pwd`

# Python Setup
layout python3

source /usr/local/bin/virtualenvwrapper.sh

workon oracle-peak

unset PS1

